title= title
script(type='text/javascript', src='./pro_js/Three.js')
script(type='text/javascript', src='./pro_js/jquery-1.6.4.js')
script(type='text/javascript', src='./pro_js/jquery.mousewheel.js')
script(type='text/javascript', src='./pro_js/sim.js')
link(rel='stylesheet', type='text/css', href='./pro_css/webgl.css')