doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(id="vs", type="x-shader/x-vertex").
            attribute vec3 position;
            attribute vec4 color;
            attribute vec2 textureCoord;
            uniform   mat4 mvpMatrix;
            varying   vec4 vColor;
            varying   vec2 vTextureCoord;   //用于向片段着色器传值
            uniform int hasTc; //是否有纹理贴图
            void main(void){
                vColor = color;
                if(hasTc > 0)
                {
                    vTextureCoord = textureCoord;
                }
                gl_Position = mvpMatrix * vec4(position, 1.0);
            }
        script(id="fs", type="x-shader/x-fragment").
            precision mediump float;
            uniform sampler2D texture;
            varying vec4 vColor;
            varying vec2 vTextureCoord;
            uniform int vHasTc; //是否有纹理贴图
            void main(void)
            {
                if(vHasTc > 0)
                {
                    vec4 smpColor = texture2D(texture, vTextureCoord);
                    gl_FragColor  = vColor * smpColor;
                }
                else
                {
                    gl_FragColor = vColor;
                }
            }
        script(type='text/javascript').
            window.onload = function(){
                var game = new VsGame('canvas');
                var axis = game.newObject(VsAxis, []);
                var face = game.newObject(VsFace, []);

                var config = {};
                config.vp = [
                    1.0, 0.4, 1.0,
                    -1.0, 0.4, 1.0,
                    -1.0, 0.4, -1.0,
                    1.0, 0.4, -1.0
                ];
                //纹理坐标
                config.tc = [
                    0.0, 1.0,
                    0.0, 0.0,
                    1.0, 0.0,
                    1.0, 1.0
                ];
                config.texAddr = "book.png";
                var square = game.newObject(VsSquare, config);
                //square.move([0.0, 0.3, 0.0]);

                var config1 = {};
                config1.vp = [
                    1.0, -0.0, 1.0,
                    -1.0, 0.0, 1.0,
                    -1.0, 0.4, 1.0,
                    1.0, 0.4, 1.0
                ];
                //纹理坐标
                config1.tc = [
                    0.0, 0.96,
                    0.0, 0.02,
                    0.24, 0.02,
                    0.24, 0.96
                ];
                config1.texAddr = "book.png";
                var square1 = game.newObject(VsSquare, config1);
                //square1.move([0.0, 0.5, 0.0]);

                face.add(square);
                face.add(square1);

                face.move([0.0, -2.0, 0.0]);
                face.rotate(Math.PI*45/180, [1.0, 0.0, 0.0]);

                game.add(axis);
                game.add(face);
                var start = function(){
                    game.run();
                    setTimeout(start,
                    1000/60);
                };
                start();
            }
    body(style="margin:0px;padding:0px;scroll:none;background-color:black;")
        .container(style="margin:0px;padding:0px;scroll:none;")
            canvas(id="canvas")