doctype html
html(lang="en")
    head
        include ../includes/script.jade
        script(id="vs", type="x-shader/x-vertex").
            attribute vec3 position;
            attribute vec4 color;
            attribute vec2 textureCoord;

            uniform   mat4 mvpMatrix;

            varying   vec4 vColor;
            varying   vec2 vTextureCoord;   //用于向片段着色器传值

            void main(void){
                vColor = color;
                vTextureCoord = textureCoord;
                gl_Position = mvpMatrix * vec4(position, 1.0);
            }
        script(id="fs", type="x-shader/x-fragment").
            precision mediump float;
            uniform sampler2D texture;
            varying vec4 vColor;
            varying vec2 vTextureCoord;
            void main(void)
            {
                vec4 smpColor = texture2D(texture, vTextureCoord);
                gl_FragColor  = vColor * smpColor;
            }
        script(type='text/javascript').
            window.onload = function(){
                var game = new VsGame('canvas');
                var obj1 = game.newObject(VsSin, []);
                var axis = game.newObject(VsAxis, []);
                var face = game.newObject(VsFace, []);
                var house = game.newObject(VsHouse, []);
                //game.add(house);
                face.add(house);
                face.move([0.0, -2.0, 0.0]);
                face.rotate(Math.PI*45/180, [1.0, 0.0, 0.0]);

                game.add(obj1);
                game.add(axis);
                game.add(face);

                var start = function(){
                    //obj1.move([0.01, 0.0, 0.0]);
                    obj1.rotate(Math.PI/(180*5), [0.0, 1.0, 0.0]);
                    game.run();

                    setTimeout(start,
                    1000/60);
                };
                start();
            }
    body(style="margin:0px;padding:0px;scroll:none;background-color:black;")
        .container(style="margin:0px;padding:0px;scroll:none;")
            canvas(id="canvas")